@model CartGetDto
@inject CartLocalizer _localizer
<div class="product-wishlist">
    <h2>@_localizer.GetValue("Cart")</h2>
</div>

<div class="wishlist-items" id="wishlist-container">
    <partial name="_cartSectionPartial" model="@Model"></partial>



</div>

@* <script>
    function renderCartSection(){
        const decreaseButtons=document.querySelectorAll('#decrement')
        const increaseButtons=document.querySelectorAll('#increment')
        const cartArea=document.querySelector(".cartSectionArea")
        const cartModal=document.querySelector('.cart-sidebar');


            increaseButtons.forEach(btn=>{
                btn.addEventListener('click',async (e)=>{
                    e.preventDefault();

                    const modalResponse=await fetch(btn.href)
                    const modalHTML=await modalResponse.text();
                    cartModal.innerHTML=modalHTML;

                    const response=await fetch("/Cart/GetCartSection")
                    const text=await response.text();
                    cartArea.innerHTML=text;
                    renderCartSection();
                })
            })


          decreaseButtons.forEach(btn=>{
            btn.addEventListener('click',async (e)=>{
                e.preventDefault();

                const modalResponse=await fetch(btn.href)
                const modalHTML=await modalResponse.text();
                cartModal.innerHTML=modalHTML;

                const response=await fetch("/Cart/GetCartSection")
                const text=await response.text();
                cartArea.innerHTML=text;
                renderCartSection();
            })
        })
    }
    renderCartSection();
</script> *@
