@model List<ProductGetDto>
@{
    //page mentiqi ile gelse productlar daha yaxsi olar yeni List yox Paginate<ProductGetDto>
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Məhsullar</h4>
                        <p class="card-description">
                            <a asp-action="Create" class="btn btn-success">Yenisini yarat</a>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Şəkil
                                        </th>
                                        <th>
                                            Ad
                                        </th>

                                        <th>
                                            Proseslər
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in Model)
                                    {
                                        <tr>
                                            
                                            <td>
                                                <img src="@product.MainImagePath" />
                                            </td>
                                            <td>
                                                @product.Name
                                            </td>

                                            <td>
                                                <a asp-action="Update" asp-route-id="@product.Id" class="btn btn-warning"><i class="mdi mdi-grease-pencil"></i></a>
                                                <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger deleteBtn"><i class="mdi mdi-delete"></i></a>
                                            </td>

                                        </tr>

                                    }

                                </tbody>

                            </table>

                        </div>
                        <br />
                        <br />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

