@model List<SubscribeGetDto>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Abunəçilər</h4>
                        <p class="card-description">
                            <a asp-action="Create" class="btn btn-success">Yenisini yarat</a>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Email adresi
                                        </th>

                                        <th>
                                            Proseslər
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var subscriber in Model)
                                    {
                                        <tr>
                                            <td>
                                                @subscriber.Email
                                            </td>


                                            <td>
                                                <a asp-action="Update" asp-route-id="@subscriber.Id" class="btn btn-warning"><i class="mdi mdi-grease-pencil"></i></a>
                                                <a asp-action="Delete" asp-route-id="@subscriber.Id" class="btn btn-danger deleteBtn"><i class="mdi mdi-delete"></i></a>
                                            </td>

                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

