@inject ContactLocalizer _localizer

@* <h1>@_localizer.GetValue("ThankYou")</h1>
<p>@_localizer.GetValue("ContactSuccessMessage")</p> *@

@{
    Layout = null;
}

<h1>ThankYou</h1>
<p>ContactSuccessMessage</p>
